.nasa {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

.nasa .hd-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
}

.nasa h1, .nasa h3 {
    margin: 1rem auto;
    padding: 0.4rem;
    background-color: rgba( 5, 5, 5, 0.5 );
}

.nasa .explanation {
    width: 60%;
    position: fixed;
    bottom: 3rem;
    left: calc(50% - 30%);
    background-color: rgba( 5, 5, 5, 0.5 );
}

.nasa .explanation p {
    padding: 0.2rem;
    line-height: 1.5rem;
    text-align: start;
}